h1{
    text-align: center;
}
#one{
    margin-left:200px;
    float: left;
}
#two{
    margin-right:200px ;
    float:right;
}
#word{
    padding: 10px;
    height: 200px;
    width: 200px;
    margin-left:120px;
    border: 2px solid black;
}
.submit{
    text-align: center;
    background: gray;
    border: 1px solid black;
    font-size: 20px;
    height: 40px;
    width: 220px;
}
#button1{
    margin: 20px 20px 20px 120px;
}
#button2{
    margin: 20px 20px 20px 20px;
}
#morseText{
    height:200px;
    margin-left:120px;
    align-items: center;
    padding: 10px;
    width: 200px;
    border: 2px solid black;
}
#plainText{
    height:200px;
    margin-left:120px;
    align-items: center;
    padding: 10px;
    width: 200px;
    border: 2px solid black;
}
#morseCode{
    height:200px;
    margin-left:120px;
    align-items: center;
    padding: 10px;
    width: 200px;
    border: 2px solid black;
}
